* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

/* Utility Classes */
.divider {
margin-right: 300px;
margin-left: 300px;
margin-bottom: 1rem;
}

.main-font {
    font-family:  'Raleway', sans-serif;
}

/* HEADER START */
.nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 35px;
    padding-left: 25px;
}

.nav-links {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
}

header li {
    align-items: center;
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: var(--heading-color);
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
}

/* Hero Section */
.hero {
    background-image: url("../images/space.jpg");
    background-size: cover;
    background-position: center;
    flex-wrap:wrap;
    align-items: flex-start;
    padding-top: 20vh;
    padding-bottom: 35vh;
    width: 100%;
}

.hero ul {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}

.hero-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-text {
    font-size: 35px;
}

.image {
    width: 35%;
    height: 35%;
    margin: 6vh 0;
    border-radius: 2.5%;
}

.hero-text {
    font-size: 25px;
    margin-bottom: 20px;
}

.bio {
    padding-right: 250px;
    padding-left: 250px;
}

.bio-text {
    font-size: 20px;
}

.line-height {
    line-height: 2;
}

/* Project Section */
.description {
    padding-top: 8px !important;
}

.project-img {
    height: 300px;
    position: fixed;
    overflow: hidden;
}

.project-link {
    color: white !important;
}

.project-link:hover {
    color: black !important;
    transition: color 0.5s;
}

.coop-link:hover {
    color: black !important;
    transition: color 0.5s;
}

.card-action a:hover {
    color: black;
    transition: color 0.5s;
}

.link:hover {
    color: black;
    transition: color 0.5s;
}

.project-title {
    font-size: 20px !important;
    opacity: 0.9;
    margin: 15px;
    padding: 10px !important;
    border-radius: 300px;
}

.project-title:hover {
    opacity: 1;
}

/* Skills Section */
.skill-section {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.anchor {
    padding-top: 3rem;
    padding-bottom: 3rem;
} 

.skill-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
}

.skill {
    width: 60px;
    height: 40px;
    border-radius: 5px;
}

.fill {
    background-color: white;
    padding: 0 2px;
}

.mongoose {
    padding: 5px 5px;
    border-radius: 5px;
}

/* Contact Section */
.contact-container {
    padding-top: 100px;
    padding-bottom: 275px;
}

.contact-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 75px;
}

.contact-links span {
    margin-top: 10px;
    font-size: 25px;
}

.contact-links:hover {
    color: #212121 !important;
    transition: color 0.25s;
}

.link-padding {
    padding-top: 75px;
}


/* MEDIA QUERIES START */

/* TABLET SIZE */
@media screen and (max-width: 768px) { 
    
    .bio {
        padding-right: 100px;
        padding-left: 100px;
    }

    .name {
        font-size: 25px;
    }

    .nav-links a {
        font-size: 12px;
    }

    .proj-descrip {
        font-size: 13px;
    }

    .contact-links span {
        font-size: 20px;
    }

    .divider {
        margin-right: 75px;
        margin-left: 75px;
    }
}

/* LARGE MOBILE SIZE */
@media screen and (max-width: 556px) { 
    
    .name {
        font-size: 15px;
        padding-left: 10px;
    }

    .nav-links a {
        font-size: 10px;
    }
    
    .name-text {
        font-size: 25px;
    }

    .hero-text {
        font-size: 15px;
    }

    .hero {
        padding-top: 25vh;
        padding-bottom: 40vh;
    }

    .bio {
        padding-right: 75px;
        padding-left: 75px;
    }

    .bio-text {
    font-size: 15px;
    }

    .contact-links {
        font-size: 40px;
    }

    .divider {
        margin-right: 50px;
        margin-left: 50px;
    }
} 

/* MED MOBILE SIZE */
@media screen and (max-width: 376px) { 
    
    .name {
        font-size: 15px;
        padding-left: 5px;
    }

    .nav-links a {
        font-size: 10px;
    }

    .bio {
        padding-right: 50px;
        padding-left: 50px;
    }

    .divider {
        margin-right: 50px;
        margin-left: 50px;
    }
    
    .project-link {
        font-size: 13px;
    }

}

/* SMALL MOBILE SIZE */
 @media screen and (max-width: 356px) { 

    nav ul a {
        padding: 0 7px;
    }

    .divider {
        margin-right: 35px;
        margin-left: 35px;
    }
}