* {
    box-sizing: border-box
}

:root {
    --main-color: rgb(127, 189, 214);
    --heading-color: rgb(4, 68, 63);
    --hover-color: rgb(71, 20, 20);
    --heading-background: rgba(127, 189, 214, 0.5);
}

/* HEADER START */
header {
    position: sticky;
    top: 0;
}

.header {
    background-color: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-content: center;
    border: solid 5px;
    border-radius: 0 0 25px 25px;
}

header h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--heading-color);
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 55px;
    margin: 25px;
    border: 25px;
    text-shadow: 10px 5px 25px var(--hover-color);
}

header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 0 50px;
}

.header li:hover {
    background-color: var(--hover-color);
}

.header a:hover {
    color: whitesmoke;
    transition: color 0.5s;
}

header li {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border: solid 5px;
    border-radius: 10px;
    margin: 10px;
}

header a {
    text-decoration: none;
    color: var(--heading-color);
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
}
/* HEADER END */

/* HERO START */
.fuji-pic { 
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    /*background-image: "/assets/images/fuji.jpg");*/
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.hero-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: var(--heading-color);
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--heading-background);
    border: solid 3px black; 
    border-radius: 1em;
    margin: auto 5em;
}

.hero-text p {
    color: var(--heading-color);
    font-weight: bolder;
    text-align: center;
}

/* HERO END*/

/* BIO START */
.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bio img {
    border-radius: 40%;
}

/* BIO END */

/* PROJECT START */
/* PROJECTS END */

/* CONTACT START */
/*CONTACT END */

/* UTILITY STYLES START */
.text-style {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;
}

.heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border-bottom: 10px;
    color: var(--heading-color);
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.content {
    background-color: var(--heading-background);
    border: solid 3px black; 
    border-radius: 1em;
}

.image {
    height: 200px;
    width: 200px;
    /*border-radius: 25%;*/
}

.projects a {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}
/* UTILITY STYLES END */